@import '../../../styles/variables.scss'; 

.cardteam-cont{
    border: 1px solid $gray-600;
    border-radius: 5px;
    background-color: $white; 
    display: flex;
    flex-direction: column;  
    margin: 5px;
    padding: 5px;
    width: 180px;
  

 & h1{
      font-size: 20px;  
      font-family: 'Bangers', cursive;
      }       

 & h2{
       font-size: 15px;  
       font-family: 'Bangers', cursive;
      }   
 
.cardteam-img{
  
       margin-bottom: 10px;  
       max-height: 200px;  
       width: 150px;  
      }         

.cardteam-power{
  background-color: $wolf;
  display: flex;
  flex-direction: column;  
}      
}