@import "~bootstrap/scss/bootstrap";

$colors: (
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800,
     
 
);

// Otros Colores

$salmon: #ff8c69;
$wolf: #d9d6cf;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');
*{
font-family: 'Open Sans', sans-serif;   
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);